<div class="legal-notices-wrapper">

    <div class="legal-notices-fieldset">

        <h2 class="legal-notices-title">
            Mentions Légales
        </h2>

        <div class="legal-notices-content">
            <h3>1. Identification</h3>

            <p>ExplorJob est la propriété de l’Association pour la Valorisation et la Découverte de Tous les Métiers
                (AVDTM) - 21, rue de la République - 38360 SASSENAGE – France - <a href="https://www.explorjob.com" target="_blank">https://www.explorjob.com</a></p>
            <p>Association de loi 1901
            </p>
            <p> Déclarée sous le numéro SIREN 850 025 438 et reconnue d’intérêt général.
            </p>
            <p>
                Directeur de la publication : Philippe Saunier-Plumaz Responsable de la rédaction : Marion VIALLE<a href="mailto:contact@explorjob.com">contact@explorjob.com</a>
            </p>
            <p>
                Hébergement : OVH – 2 rue Kellermann – BP 80157 59053 ROUBAIX CEDEX 1
            </p>

            <h3>2. Conditions d'utilisation</h3>

            <p><a href="https://www.explorjob.com" target="_blank">https://www.explorjob.com</a> est exploité dans le
                respect de la législation française. L'utilisation de ce site est régie par les conditions générales
                d’utilisation accessibles depuis le pied de page de <a href="https://www.explorjob.com"
                    target="_blank">https://www.explorjob.com</a>. En utilisant le site, vous reconnaissez avoir pris
                connaissance de ces conditions et les avoir acceptées. Celles-ci pourront être modifiées à tout moment
                et sans préavis par AVDTM qui ne saurait être tenu pour responsable en aucune manière d’une mauvaise
                utilisation du service.
            </p>

            <h3>3. Litiges</h3>

            <p>
                Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui
                pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive
                des tribunaux dont dépend le siège social de AVDTM. La langue de référence, pour le règlement de
                contentieux éventuels, est le français.
            </p>

            <h3>4. Confidentialité des données personnelles </h3>

            <p>
                Seule l’association AVDTM est destinataire des Informations Personnelles. Celles-ci, que ce soit sous
                forme individuelle ou agrégée, ne sont jamais transmises à un tiers. AVDTM ne procède pas à la
                commercialisation des données personnelles des visiteurs et Utilisateurs de son Site.
            </p>
            <p>
                Les données sont conservées pendant 3 ans pour les comptes inactifs.
            </p>
            <p>
                Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer
                votre droit à la limitation du traitement de vos données. </p>
            <p>
                Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous
                pouvez contacter AVDTM par email à <a href="mailto:contact@explorjob.com">contact@explorjob.com</a> ou
                par courrier à AVDTM – ExplorJob, 21, rue de la république 38360 SASSENAGE
            </p>
            <p>
                Cependant, en raison de l’obligation de sécurité et de confidentialité dans le traitement des données à
                caractère personnel qui incombe à AVDTM, vous êtes informé que votre demande sera traitée sous réserve
                que vous rapportiez la preuve de votre identité, notamment par la production d’un scan de votre titre
                d’identité valide (en cas de demande par notre formulaire électronique dédié) ou d’une photocopie signée
                de votre titre d’identité valide (en cas de demande adressée par écrit).
            </p>
            <p>
                AVDTM vous informe qu’il sera en droit, le cas échéant, de s’opposer aux demandes manifestement abusives
                (de par leur nombre, leur caractère répétitif ou systématique).
            </p>
            <p>
                Tous les détails relatifs à la protection de vos données sont accessibles dans la Charte des Données
                Personnelles, disponible à la suite de ce document.
            </p>

            <h3>5. Propriété intellectuelle</h3>

            <p>
                Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes,
                vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive
                de AVDTM à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou
                auteurs.
            </p>
            <p>
                Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même
                partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de AVDTM.
                Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon
                sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect
                de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du
                contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice
                à votre encontre.
            </p>
            <p>Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce
                site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante : <a
                    href="https://www.explorjob.com" target="_blank">https://www.explorjob.com</a>, à condition que ce
                lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») est
                interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation
                expresse et préalable de AVDTM.
            </p>
            <p>Pour toute demande d'autorisation ou d'information, veuillez nous contacter par email : <a href="mailto:contact@explorjob.com">contact@explorjob.com</a>
            </p>
            <p>
                Les conditions spécifiques sont prévues pour la presse.
            </p>
            <p>
                Par ailleurs, la mise en forme de ce site a nécessité le recours à des sources externes dont nous avons
                acquis les droits ou dont les droits d'utilisation sont ouverts : Shutterstock, FlatIcon, Freepix,
                Unsplash, Fotolia.
            </p>

            <h3>6. Conditions de service </h3>

            <p>
                Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme
                plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Safari, Firefox,
                Chrome,...
            </p>

            <h3>7. Informations et exclusion</h3>

            <p>
                AVDTM met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à
                jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute
                devra donc s'assurer de l'exactitude des informations auprès de AVDTM, et signaler toutes modifications
                du site qu'il jugerait utile. AVDTM n'est en aucun cas responsable de l'utilisation faite de ces
                informations, et de tout préjudice direct ou indirect pouvant en découler.
            </p>

            <h3>8. Cookies</h3>

            <p>
                Un cookie (ou témoin de connexion) est un fichier texte susceptible d’être stocké par votre navigateur
                sur votre terminal relié à Internet lors de la visite d’un site Internet. Le terminal contenant le
                cookie peut ainsi être identifié par l’émetteur durant sa durée de validité.
            </p>
            <p>
                Les informations stockées portent notamment sur votre parcours du site visité afin de vous apporter un
                service additionnel, les publicités sur lesquelles vous avez cliqué, le type de navigateur que vous
                utilisez, les informations que vous avez saisies afin d’éviter de les ressaisir à nouveau et améliorer
                votre confort de navigation. Les cookies sont également utilisés pour optimiser la performance du site.
                Par d’exemple, ils facilitent votre navigation et vous aident à trouver un contenu spécifique plus
                rapidement, etc.
            </p>
            <p>
                Seul l’émetteur d’un cookie est susceptible de lire ou de modifier des informations qui y sont
                contenues.
            </p>
            <p>
                Les cookies que le site www.explorjob.com émet sont utilisés aux fins décrites ci-dessous.
            </p>

            <ul>
                <li>
                    Quels sont les destinataires des données récoltées par le biais de cookies ?
                </li>
            </ul>
            <p>
                Les données collectées par le biais de cookies déposés sur le site www.explorjob.com sont destinées à
                AVDTM, ses partenaires et à des tiers tels que les réseaux sociaux.
            </p>

            <ul>
                <li>
                    Quelle est la durée de conservation des cookies ?
                </li>
            </ul>
            <p>
                Les cookies ont une durée de validité de 13 mois maximum.
            </p>
            <p>Votre consentement sera de nouveau sollicité à l’issu de ce délai maximum par l’affichage du bandeau
                d’information quel que soit la page visité sur https://www.explorjob.com, ou à l’effacement du cache de
                votre navigateur avant la fin de cession de durée de validation.
            </p>

            <ul>
                <li>
                    Quels types de cookies sont déposés par le site Web ?
                </li>
            </ul>

            <h4>
                Cookies d’audience et de Statistiques
            </h4>

            <p>
                Des services installés sur www.explorjob.com tel que Google Analytic permettent de mémoriser et
                d’analyser de manière anonyme le nombre de pages consultées ainsi que l’activité des visiteurs et leur
                fréquence de retour. Ces cookies permettent d’établir des statistiques d’analyse de la fréquentation à
                partir desquels les contenus du Site sont améliorés en fonction du succès rencontré par telle ou telle
                page auprès de nos visiteurs.
            </p>
            <p>
                Certains des cookies déposés par les services d’audience et de statistique sont rattachés à l’adresse
                Internet Protocol (IP) de votre terminal de connexion. Cette adresse permet de connaître la ville depuis
                laquelle vous vous connectez.
                Cookies techniques, de paramétrage et de navigation
            </p>
            <p>
                Ces cookies facilitent votre navigation entre les pages du présent site Internet. Ils sont également
                nécessaires pour vous permettre de bénéficier de certaines fonctionnalités ou services (création de
                compte, identification, information saisies sur certains formulaires, champs de commentaire, …).
            </p>
            <p>
                Ces cookies permettent aussi de mémoriser vos préférences d’utilisation, les paramètres d’affichage et
                lecteurs que vous utilisez afin de faciliter votre navigation lors de votre prochaine visite sur notre
                Site.
            </p>

            <h4>
                Cookie publicitaires et permettant de mieux connaître vos centres d’intérêt
            </h4>

            <p>
                Des services tiers de publicités comme la régie Adsense contrôlent des cookies depuis leurs espaces
                publicitaires. Pour en savoir plus sur les annonces ciblées de Google, cliquez sur le lien suivant :
                <a href="https://policies.google.com/privacy?hl=fr" target="_blank">règles de confidentialité</a>
            </p>
            <p>
                Le présent site Internet n’est pas responsable de la gestion et de la durée de vie de ces cookies tiers
                et vous invite à prendre connaissance de la politique de chacun de ces prestataires.
            </p>
            <p>
                Ils ont pour but de vous adresser des publicités personnalisées adaptées à vos attentes. Aucune donnée
                personnelle telles que vos nom, prénom, adresse postale ou électronique, etc. ne sera transmis à ces
                tiers partenaires dont l’intervention sur le site web se limite au dépôt de cookie par le biais des
                contenus publicitaires qu’ils gèrent.
            </p>
            <p>
                Le présent site Web et n’a aucun contrôle sur ces cookies.
            </p>

            <h4>
                Cookies de partage des réseaux sociaux
            </h4>

            <p>
                Sur certaines pages et articles du présent site Internet figurent des boutons de réseaux sociaux
                tiers qui vous permettent d’exploiter les fonctionnalités de ces réseaux et en particulier de partager
                des contenus présents avec d’autres personnes.
            </p>
            <p>
                Lorsque vous vous rendez sur une page Internet sur laquelle se trouve un de ces moyens de partage, votre
                navigateur peut envoyer des informations au réseau social sollicité qui peut alors associer cette
                visualisation à votre profil.
            </p>
            <p>
                Des cookies de ces réseaux sociaux, dont www.explorjob.com n’a pas la maîtrise, peuvent alors être
                déposés dans votre navigateur. Nous vous invitons à consulter les politiques de confidentialité propres
                à chacun de ces sites de réseaux sociaux, afin de prendre connaissance des finalités d’utilisation des
                informations de navigation que peuvent recueillir les réseaux sociaux grâce à ces boutons et modules.
            </p>
            <p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
                    </li>
                </ul>

                <h4>
                    Que faire si l’on ne veut pas que des cookies soient installés ?
                </h4>

                <p>
                    Les dernières législations européennes dans le cadre de la protection de données personnelles sur
                    Internet vous donnent le droit de gérer les données stockées et utilisées par un site tiers via les
                    cookies, bien que cela leur présence soit généralement sans conséquence. Vous avez la possibilité de
                    bloquer une partie ou la totalité des cookies ou supprimer ceux déjà installés sur votre terminal.
                </p>
                <p>
                    Vous pouvez choisir d’accepter le dépôt de cookies sur votre terminal et revenir sur cette décision
                    à tout moment en modifiant les paramètres de votre navigateur internet.
                </p>

                <h4>
                    Quels sont les moyens à votre disposition pour empêcher le stockage des cookies ?
                </h4>

                <p>
                    Si vous ne voulez pas recevoir de cookies, vous pouvez régler votre navigateur afin d’empêcher une
                    partie ou la totalité du téléchargement des cookies sur votre terminal (ordinateur, smartphone,
                    tablette, …) optimisé pour Internet. A savoir, un paramétrage absolu empêchera le bon fonctionnement
                    de section fonctions du site Internet www.explorjob.com
                </p>
                <p>
                    Pour savoir comment procéder, consultez les sites en lien ci-dessous en fonction de votre type de
                    navigateur :
                </p>

                <ul>
                    <li>
                        <a href="https://https://support.mozilla.org/fr/kb/protection-renforcee-contre-pistage-firefox-ordinateur?redirectlocale=fr&redirectslug=activer-desactiver-cookies"
                            target="_blank">Firefox</a>
                    </li>
                    <li>
                        <a href="https://https://support.google.com/chrome/answer/95647?hl=fr"
                            target="_blank">Chrome</a>
                    </li>
                    <li>
                        <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-9"
                            target="_blank">Explorer</a>
                    </li>
                    <li>
                        <a href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac" target="_blank">Safari</a>
                    </li>
                    <li>
                        <a href="https://help.opera.com/en/latest/web-preferences/#cookies" target="_blank">Opera</a>
                    </li>
                </ul>

                <p>
                    Selon le type de votre navigateur, vous pouvez également activer le mode navigation privée ou encore
                    le paramétrage « Do Not Track » de votre navigateur.
                </p>
                <p>
                    Pour les périphériques mobiles, vous pouvez consulter les liens suivants :
                </p>

                <ul>
                    <li>
                        <a href="https://support.apple.com/fr-fr/HT201265" target="_blank">IOS</a>
                    </li>
                    <li>
                        <a href="https://www.wikihow.com/Disable-Cookies#Android_Devices" target="_blank">Android</a>
                    </li>
                    <li>
                        <a href="https://docs.blackberry.com/en/smartphone_users/deliverables/32004/Turn_off_cookies_in_the_browser_60_1072866_11.jsp"
                            target="_blank">Blackberry</a>
                    </li>
                    <li>
                        <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies"
                            target="_blank">Windows Phone</a>
                    </li>
                </ul>

                <ul>
                    <li>
                        Notes
                    </li>
                </ul>
                <p>
                    - Si votre terminal est utilisé par plusieurs personnes ou comporte plusieurs navigateurs Internet
                    sur lesquels vous travaillez, il est possible que vos réglages en matière de cookie ne soient pas
                    pris en compte de manière permanente. Ceci en fonction de l’emploi d’un autre navigateur non
                    paramétré, soit parce qu’un tiers a modifié vos paramètres personnels. Le site
                    Internet https://www.explorjob.com n’est pas en mesure de prévenir ces éléments extérieurs et ni de
                    garantir la pérennité des choix que vous avez initialement exprimés.
                </p>
                <p>
                    – Si vous utilisez différents terminaux pour accéder à notre Site (smartphone, tablette, ordinateur
                    et.), le paramétrage de vos préférences doit être effectué sur chacun d’eux.
                </p>
                <p>
                    – Conformément à la loi Informatique et Libertés du 6 janvier 1978 vous disposez d’un droit d’accès
                    sur les données vous concernant.
                </p>

                <h3>9. Contactez-nous</h3>
                <p>
                    AVDTM est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en
                    français par courrier électronique à : <a
                        href="mailto:contact@explorjob.com">contact@explorjob.com</a>
                </p>
        </div>

        <h2 class="legal-notices-title" style="margin-top: 50px;">
            Charte d'utilisation des données personnelles
        </h2>

        <div class="legal-notices-content">
            <p>
                L’Association pour la Valorisation et la Découverte de Tous les Métiers, (ci-après AVDTM) accorde une
                grande importance à la protection des Données Personnelles de ses Utilisateurs.
            </p>
            <p>
                La présente charte (ci-après « la Charte ») présente les engagements de AVDTM pour la protection des
                Données Personnelles des internautes visitant la plateforme web Explorjob.com. Elle vous informe
                également des procédés de collecte et d’utilisation de vos Données Personnelles et des options dont vous
                bénéficiez à cet égard.
            </p>
            <p>
                Elle pourra être modifiée à tout moment par AVDTM, au gré des modifications effectuées, afin notamment
                de se conformer à toutes évolutions réglementaires, jurisprudentielles, éditoriales et/ou techniques.
            </p>
            <p>
                Il vous est conseillé de vous référer avant toute navigation à la dernière version de la Charte
                accessible sur nos Services.
                AVDTM respecte le Règlement Général sur la Protection des Données, n° 2016/679 du 27 avril 2016, la loi
                « Informatique & Libertés » n° 78-17 du 6 janvier 1978 modifiée, ainsi que la loi « pour la confiance
                dans l’économie numérique » n° 2004-575 du 21 juin 2004 (article L. 34-5du Code des postes et des
                communications électroniques).
            </p>

            <h3>ARTICLE 1 : QUELLE EST L’IDENTITE DU RESPONSABLE DE TRAITEMENT ?</h3>

            <p>
                Le responsable de traitement est l’Association pour la Valorisation et la Découverte de Tous les Métiers
                - 21, rue de la République - 38360 SASSENAGE – France <a href="https://www.explorjob.com"
                    target="_blank">https://www.explorjob.com</a>
            </p>
            <p>Association de loi 1901, déclarée sous le numéro SIREN 850 025 438 et reconnue d’intérêt général.
            </p>

            <h3>ARTICLE 2 – POURQUOI DES DONNEES PERSONNELLES VOUS CONCERNANT SONT-ELLES COLLECTEES PAR AVDTM ?</h3>
            <p>
                AVDTM peut être amenée à collecter et traiter des données déclaratives, des données comportementales de
                ses Utilisateurs (ci-après prises dans leur ensemble « Données Personnelles »).
            </p>
            <p>
                Ces Données Personnelles dans le cadre de l’utilisation de la plateforme ExplorJob font l’objet de
                traitements aux fins suivantes :
            </p>

            <ul>
                <li>
                    Lorsque vous créer un compte Explorateur ou Professionnel pour utiliser le service.
                </li>
                <li>
                    Lorsque vous vous abonnez à nos newsletters.
                </li>
                <li>
                    Lorsque nous collectons des Données personnelles nécessaires à l’amélioration de l’expérience
                    utilisateur ;
                </li>
                <li>
                    Lorsque nous réalisons des études statistiques et des mesures d’audience de consultation de nos
                    sites internet.
                </li>
                <li>
            </ul>

            <p>
                AVDTM ne collecte que les données adéquates, pertinentes et limitées à ce qui est nécessaire au regard
                des objectifs pour lesquels elles sont traitées.
            </p>
            <p>
                Ces objectifs sont spécifiques et légitimes et, en aucun cas, vos données ne seront traitées
                ultérieurement d’une manière incompatible avec ces finalités, sauf à recueillir votre accord préalable.
            </p>

            <h3>ARTICLE 3 – QUELLES SONT LES DONNEES PERSONNELLES COLLECTEES PAR AVDTM ?</h3>

            <p>
                AVDTM est susceptible de constituer un ou plusieurs fichiers comportant des informations que vous lui
                fournissez volontairement pour bénéficier du service d’ExplorJob.
            </p>
            <p>
                Ces données sont celles nécessaires à l’exécution des services que nous vous rendons : 
            </p>

            <ul>
                <li>
                    votre identité (Nom, prénom, Date de naissance) ;
                </li>
                <li>
                    vos données de contact (adresse postale, email, téléphone, identifiant Skype) ;
                </li>
                <li>
                    vos données concernant votre situation professionnelle (statut, entreprise, diplôme, vos métiers,
                    vos domaines métiers).
                </li>
            </ul>

            <h3>ARTICLE 4 – QUELS SONT LES DESTINATAIRES DES DONNÉES PERSONNELLES ?</h3>
            <p>
                Les Données Personnelles sont destinées exclusivement à AVDTM.
            </p>
            <p>
                Conformément à la réglementation en vigueur, vos Données Personnelles peuvent être transmises aux
                autorités compétentes sur requête.
            </p>
        </div>

    </div>

</div>
