.account-layout-content-wrapper {
    display: inline-block;
    width: 100%;
    height: 95%;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 17.5px;
    padding-right: 17.5px;
    color: var(--explorjob-darkgrey);
    background-color: var(--explorjob-white);
    border-radius: 50px;
}

@media only screen and (max-width: 767px) {
    .account-layout-content-wrapper  {
        width: 95%;
    }
}

@media only screen and (max-width: 684px) {
    .account-layout-content-wrapper  {
        width: 94.5%;
    }
}

@media only screen and (max-width: 630px) {
    .account-layout-content-wrapper  {
        width: 93.5%;
    }
}

@media only screen and (max-width: 517px) {
    .account-layout-content-wrapper  {
        width: 93%;
    }
}
