<div class="reset-password-wrapper">

    <div class="reset-password-fieldset fieldset-responsive-from-top">

        <h2 class="reset-password-fieldset-title">
            Réinitialisation de votre mot de passe
        </h2>

        <div class="reset-password-form">

            <p-messages></p-messages>

            <form
                [formGroup]="resetPasswordForm"
                (ngSubmit)="resetPassword()">

                <div class="input-wrapper">
                    <input
                        pPassword
                        type="password"
                        feedback
                        formControlName="password"
                        placeholder="Mot de passe"
                        class="input">

                    <div
                        *ngIf="resetPasswordForm.controls.password.invalid && (resetPasswordForm.controls.password.dirty || resetPasswordForm.controls.password.touched)"
                        class="input-messages">
                        <p-message
                            *ngIf="resetPasswordForm.controls.password.errors.required"
                            severity="error"
                            text="Le mot de passe est requis">
                        </p-message>
                        <p-message
                            *ngIf="resetPasswordForm.controls.password.errors.minlength"
                            severity="error"
                            text="Le mot de passe doit faire au moins 8 caractères">
                        </p-message>
                    </div>
                </div>

                <div class="input-wrapper">
                    <input
                        pPassword
                        type="password"
                        feedback
                        formControlName="confirmPassword"
                        placeholder="Confirmez le mot de passe"
                        class="input">

                    <div
                        *ngIf="resetPasswordForm.controls.confirmPassword.invalid && (resetPasswordForm.controls.confirmPassword.dirty || resetPasswordForm.controls.confirmPassword.touched)"
                        class="input-messages">
                        <p-message
                            *ngIf="resetPasswordForm.controls.confirmPassword.errors.required"
                            severity="error"
                            text="La confirmation du mot de passe est requise">
                        </p-message>
                        <p-message
                            *ngIf="resetPasswordForm.controls.confirmPassword.errors.confirmPassword"
                            severity="error"
                            text="Les mots de passe doivent être identiques">
                        </p-message>
                    </div>
                </div>

                <div class="buttons-wrapper">
                    <button
                        pButton
                        type="submit"
                        label="Réinitialiser"
                        [disabled]="!resetPasswordForm.valid"
                        class="button reset-password-form-button">
                    </button>
                </div>

            </form>

        </div>

    </div>

</div>
