<div class="account-become-professional-wrapper">

    <h2 class="account-become-professional-title">
        Conditions compte professionnel
    </h2>

    <hr class="account-become-professional-separator">

    <div class="account-become-professional-content">
        <div>
            <div class="account-become-professional-message">
                <p>Vous vous êtes inscrit sur ExplorJob en tant qu’Explorateur car vous êtes en construction de votre projet professionnel. Cependant vous exercez ou avez exercé un ou plusieurs métiers et vous souhaiteriez vous aussi, transmettre votre expérience. En cliquant sur « je souhaite aussi témoigner de mon métier », vous devenez Professionnel Inspirant en plus de votre profil d’Explorateur. Grâce à vous, d’autres Explorateurs vont pouvoir découvrir votre métier et vos choix de parcours</p>
                <p>Renseigner le ou les métiers sur le(s)quel(s) vous souhaitez témoigner, vous n’avez plus qu’à patienter qu’un Explorateur vous contacte !</p>
                <p>Note Importante : Un Explorateur peut-être un collégien, un lycéen, un étudiant, un jeune sorti du système scolaire, un adulte en reconversion professionnelle ou une personne en recherche d’emploi. Point important, lorsque des mineurs vous contactent, merci d’accepter le rendez-vous UNIQUEMENT s’ils viennent accompagnés d’une personne majeure.</p>
                <p>Je certifie être majeur et souhaite à mon tour, témoigner de mes expériences professionnelles.</p>
                <p>Je certifie que je n’accepterai de rencontrer des mineurs pour leur parler de mon métier que si ces derniers sont accompagnés d’une personne majeure.</p>
            </div>

            <button
                (click)="becomeProfessional()"
                class="account-become-professional-button">
                J'accepte les conditions générales d'accès au compte professionels
            </button>
        </div>
    </div>

</div>
