.login-wrapper {
    margin: 0;
}

.login-fieldset {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: var(--explorjob-darkgrey);
    background-color: var(--explorjob-white);
    border-radius: 50px;
}

.login-fieldset-title {
    margin: 0;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 25px;
    color: var(--explorjob-orange);
    text-transform: uppercase;
}

.login-form {

}

.login-form-button {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    padding: 7.5px;
    font-weight: bold;
    color: var(--explorjob-white);
    background-color: var(--explorjob-orange);
    border: none;
    outline: inherit;
    text-transform: uppercase;
}

.login-form-button:disabled {
    opacity: 0.5;
}

.login-forgotten-password-link,
.login-forgotten-password-link:active,
.login-forgotten-password-link:hover,
.login-forgotten-password-link:link,
.login-forgotten-password-link:visited {
    float: right;
    margin-top: 17.5px;
    font-size: 9px;
    color: var(--explorjob-darkgrey);
    text-decoration: none;
}

.login-register-links-separator {
    display: block;
    width: 225px;
    height: 2px;
    padding: 0;
    border: 0;
    border-top: 1px solid var(--explorjob-dark);
}

.login-register-links {
    display: inline-block;
    margin-top: 7.5px;
    font-size: 12px;
}

.login-register-link {
    display: inline-block;
    margin-top: 7.5px;
    text-decoration: none;
}

.login-disable {

}
